### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.project

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
client/dist/**
client/node_modules/**
client/package-lock.json
server/node_modules/**
server/package-lock.json
package-lock.json
target/
node_modules
client/.gitignore
